<div class="fondo">
  <div class = "container">
    <app-barra-superior></app-barra-superior>
    <div class="row principal">
      <div class="row">
        <div class="col s12 m6 l6">
            <h4>Listado de Usuarios</h4>
        </div>
      </div>
      <hr>
      <div class = "row">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Cedula</th>
              <th>Correo</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usuarios">
              <td>{{item.nombre}}</td>
              <td>{{item.apellidos}}</td>
              <td>{{item.cedula}}</td>
              <td>{{item.correo}}</td>
              <td>{{item.telefono}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
