<nav class="navbar">
  <div class="nav-wrapper">
      <span class="brand-logo left">Administracion de usuarios</span>
      <ul id="nav-mobile" class="right">
          <li><a [routerLink]="['/listado']"><i class="material-icons" title="Listado de usuarios">list</i></a></li>
          <li><a [routerLink]="['/nuevo']"><i class="material-icons" title="Agregar usuarios">person_add</i></a></li>
          <li><a [routerLink]="['/edicion']"><i class="material-icons" title="Edicion de usuarios">edit</i></a></li>
          <li><a [routerLink]="['/borrado']"><i class="material-icons" title="Borrado de usuarios">delete</i></a></li>
      </ul>
  </div>
</nav>
